{% load staticfiles %}


<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
    
<!-- Material Admin - CDC ENglish  -->
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>TUTOR | EVALUACIONES</title>


    <link rel="stylesheet" href='{% static "style.css"%}' />
    <script src='{% static "alert/dist/alertify.min.js"%}'></script>
    <link rel="stylesheet" href='{% static "alert/dist/alertify.core.css"%}' />
    <link rel="stylesheet" href='{% static "alert/dist/alertify.default.css"%}' id="toggleCSS" />

<script>
    function progreso(){
        //$(".progress-bar").css("width", "{{avances}}").attr("aria-valuenow", "{{avances}}").text("{{avances}}"+"%");
        $("#hipotesis").css("width", "{{avances_hipo}}").attr("aria-valuenow", "100%").text("{{porcentaje_hipo}}" + "%");
        $("#justificacion").css("width", "{{avances_justi}}").attr("aria-valuenow", "100%").text("{{porcentaje_justi}}" + "%");
        $("#objetivo").css("width", "{{avances_objetivo}}").attr("aria-valuenow", "20%").text("{{porcentaje_objetivo}}" + "%");
        $("#planteamiento").css("width", "{{avances_planteamiento}}").attr("aria-valuenow", "60%").text("{{porcentaje_planteamiento}}" + "%");
        $("#preguntas").css("width", "{{avances_preguntas}}").attr("aria-valuenow", "80%").text("{{porcentaje_preguntas}}" + "%");
        $("#metodologia").css("width", "{{avances_metodologia}}").attr("aria-valuenow", "10%").text("{{porcentaje_metodologia}}" + "%");
        $("#conclusion").css("width", "{{avances_conclusion}}").attr("aria-valuenow", "10%").text("{{porcentaje_conclusion}}" + "%");
    }
    window.onload=progreso;
</script>
       

<style>
.divclass {
  background: #415665;
  height: 50px;
  width:200px;
  border-radius: 15px;
  padding:20px;
  font-size:22px;
  color:#fff;   
}

#es{
    padding: 5px;
    padding-left: 1100px;
    color:#fff;
    font-size:18px;
}
#pa{
   text-indent:20px; 
   text-align: justify; 
   font-weight: bold;
   margin-bottom:5px;

}

[data-current-skin="azul"] {
background-color: #08298A;
} 
</style> 

        <!-- Vendor CSS -->
        <link href='{% static "vendors/bower_components/fullcalendar/dist/fullcalendar.min.css" %}' rel="stylesheet">
        <link href='{% static "vendors/bower_components/animate.css/animate.min.css" %}' rel="stylesheet">
        <link href='{% static "vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.css" %}' rel="stylesheet">
        <link href='{% static "vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css"%}' rel="stylesheet">
        <link href='{% static "vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css"%}' rel="stylesheet">        
            
        <!-- CSS -->
        <link href='{% static "css/app.min.1.css" %}' rel="stylesheet">
        <link href='{% static "css/app.min.2.css" %}' rel="stylesheet">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"><!--barra de progreso-->
        <link href='{% static "css/contenedores.css" %}' rel="stylesheet" >
        <link href='{% static "css/estilo_formulario.css" %}' rel="stylesheet" >
        
    </head>
    <body>
        <header id="header" class="clearfix" data-current-skin="azul">
            <ul class="header-inner">
                <li id="menu-trigger" data-trigger="#sidebar">
                    <div class="line-wrap">
                        <div class="line top"></div>
                        <div class="line center"></div>
                        <div class="line bottom"></div>
                    </div>
                </li>

                <li class="logo hidden-xs">
                    <a href="#">TUTOR DE PROYECTOS DE INVESTIGACION</a>
                </li>

                
                <a href='{% url "inicio"%}'><li id="es" class="logo hidden-xs">Regresar</li></a>
            

            <!-- Top Search Content -->
         
        </header>
        
        <section id="main" data-layout="layout-1">
           <aside id="sidebar" class="sidebar c-overflow">
           

                <ul class="main-menu">
                   
              
                

                    <li >
                        <a href='{% url "login"%}'><i class="zmdi zmdi-book"></i> Iniciar Sesión</a>
                        
                    </li>

                    <li >
                    
                        <a href='{% url "registrar"%}'><i class="zmdi zmdi-book"></i> Registrarse</a>
                        
                    </li>
                    

                </ul>
            </aside>
            
                 
            
            <section id="content" >
                <div class="container">
                    <div class="block-header">
                        
                        
                        
                    </div>
                    
                    <!--<div class="card">
                   
                        <div class="card-header">
                            <center><img src="img/bannerConLogo.png" alt=""></center>
                        </div>

                          
                      
                    </div>
                    -->

                    
                      
<!--secciones-->
    
                        <section id="content">
                <div class="container">
                    
                    <div class="col-sm-4">
                 
                        <!-- Profile view -->
                        <div class="card profile-view">
                            <div class="pv-header">
                                <img src='{% static "img/img2.jpg"%}' class="pv-main" alt="">
                            </div>
                            
                            <div class="pv-body">
                                <h2>Dr. Aurelio López López</h2>
                                <small><b>Adscripción:</b> Instituto Nacional de Astrofísica, Óptica y Electrónica, Puebla, México</small>
                                <small><b>Líneas de Investigación:</b><p> Procesamiento de Información Textual, Recuperación de Información y

Procesamiento de Lenguaje Natural</p></small>
                            
                                <ul class="pv-contact">
                                    
                                    <li><i class="zmdi zmdi-email  "></i> allopez@inaoep.mx</li>
                                </ul>
                                
                                <ul class="pv-follow">
                                    
                                    <li>Teléfono: +52(222)266.31.00. Extensión: 8314</li>
                                </ul>
                                
                                
                            </div>

                            </div>
                            </div>


                      <div class="col-sm-4">
                 
                        <!-- Profile view -->
                        <div class="card profile-view">
                            <div class="pv-header">
                                <img src='{% static "img/img1.jpg"%}' class="pv-main" alt="">
                            </div>
                            
                            <div class="pv-body">
                                <h2>Dr. Samuel González López</h2>
                                <small><b>Adscripción:</b> Universidad Tecnológica de Nogales, Sonora, México</small>
                                <small><b>Líneas de Investigación:</b><p> Procesamiento de Lenguaje Natural, E- Learning, Tutores Inteligentes</p></small>
                            
                                <ul class="pv-contact">
                                    
                                    <li><i class="zmdi zmdi-email  "></i>  sgonzalez@utnogales.edu.mx</li>
                                </ul>
                                
                                <ul class="pv-follow">
                                    
                                    <li>Teléfono: +52(631)311-1830</li>
                                </ul>
                                
                               
                            </div>

                            </div>
                            </div>
                                                <div class="col-sm-4">
                 
                        <!-- Profile view -->
                        <div class="card profile-view">
                            <div class="pv-header">
                                <img src='{% static "img/img3.jpg"%}' class="pv-main" alt="">
                            </div>
                            
                            <div class="pv-body">
                                <h2>MC. Jesús Miguel García Gorrostieta</h2>
                                <small><b>Adscripción:</b> Universidad de la Sierra, Sonora México</small>
                                <small><b>Línea de Investigación:</b> <p>Procesamiento de Lenguaje Natural, E- Learning, Tutores Inteligentes</p></small>
                            
                                <ul class="pv-contact">
                                    
                                    <li><i class="zmdi zmdi-email  "></i> jesusmiguelgarcia@gmail.com</li>
                                </ul>
                                
                                <ul class="pv-follow">
                                    
                                    <li>Teléfono: +52(634) 342 9600</li>
                                </ul>
                                
                               
                            </div>

                            </div>
                            </div>
                        


                        <div class="col-sm-4">
                 
                        <!-- Profile view -->
                        <div class="card profile-view">
                            <div class="pv-header">
                                <img src='{% static "img/erwin.jpg"%}' class="pv-main" alt="">
                            </div>
                            
                            <div class="pv-body">
                                <h2>Erwin Alexander Villegas Tun</h2>
                                <small><b>Institución:</b> Instituto Tecnológico Superior de Felipe Carrillo Puerto, Quintana Roo</small>
                                <h5>Desarrollador del Sistema</h5>
                            
                                <ul class="pv-contact">
                                    
                                    <li><i class="zmdi zmdi-email  "></i> erwin.villegas06@gmail.com</li>
                                </ul>
                                
                                <ul class="pv-follow">
                                    
                                    <li>Ing. en Sistemas Computacionales</li>
                                </ul>
                                
                              
                            </div>

                            </div>
                            </div>
                    


                      <div class="col-sm-4">
                     
                      </div>



                    <div class="col-sm-4">
                 
                        <!-- Profile view -->
                        <div class="card profile-view">
                            <div class="pv-header">
                                <img src= '{% static "img/carlos.jpg"%}' class="pv-main" alt="">
                            </div>
                            
                            <div class="pv-body">
                                <h2>Jesús Carlos Cárdenas Piñuelas</h2>
                                <small><b>Institución:</b> Universidad Estatal de Sonora, Sonora</small>
                                <p></p>
                                <h5>Desarrollador del Sistema</h5>
                            
                                <ul class="pv-contact">
                                    
                                    <li><i class="zmdi zmdi-email  "></i> jccp33@gmail.com</li>
                                </ul>
                                
                                <ul class="pv-follow">
                                    
                                    <li>Ing. de Software</li>
                                </ul>
                                
                                
                            </div>

                            </div>
                            </div>


                                     
                </div>
            </section>



        
        </section>
        
  <footer id="footer">
            Copyright &copy; 2016 TUTOR DE PROYECTOS DE INVESTIGACION

            </ul>
        </footer>

        <!-- Page Loader -->
        <!--<div class="page-loader">
            <div class="preloader pls-blue">
                <svg class="pl-circular" viewBox="25 25 50 50">
                    <circle class="plc-path" cx="50" cy="50" r="20" />
                </svg>

                <p>Porfavor espera...</p>
            </div>
        </div>-->
        
       
        <!-- Javascript Libraries -->
        <script src='{% static "vendors/bower_components/jquery/dist/jquery.min.js"%}'></script>
        <script src='{% static "vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"%}'></script>
        
        <script src='{% static "vendors/bower_components/flot/jquery.flot.js"%}'></script>
        <script src='{% static "vendors/bower_components/flot/jquery.flot.resize.js"%}'></script>
        <script src='{% static "vendors/bower_components/flot.curvedlines/curvedLines.js"%}'></script>
        <script src='{% static "vendors/sparklines/jquery.sparkline.min.js"%}'></script>
        <script src='{% static "vendors/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"%}'></script>
        
        <!--<script src="vendors/bower_components/moment/min/moment.min.js"></script>
        <script src="vendors/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>-
        <script src="vendors/bower_components/simpleWeather/jquery.simpleWeather.min.js"></script>
        <script src="vendors/bower_components/Waves/dist/waves.min.js"></script>
        <script src="vendors/bootstrap-growl/bootstrap-growl.min.js"></script>-->
        <script src='{% static "vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js"%}'></script>
        <script src='{% static "vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"%}'></script>
        
                
        <script src='{% static "js/flot-charts/curved-line-chart.js"%}'></script>
        <script src='{% static "js/flot-charts/line-chart.js"%}'></script>
        <script src='{% static "js/charts.js"%}'></script>
        
        <script src='{% static "js/charts.js"%}'></script>
        <script src='{% static "js/functions.js"%}'></script>
        <script src='{% static "js/demo.js"%}'></script>

        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
-->
        <script type="text/javascript">


            
            $(window).load(function(){
                //Welcome Message (not for login page)
                function notify(message, type){
                    $.growl({
                        message: message
                    },{
                        type: type,
                        allow_dismiss: false,
                        label: 'Cancel',
                        className: 'btn-xs btn-inverse',
                        placement: {
                            from: 'top',
                            align: 'right'
                        },
                        delay: 2500,
                        animate: {
                                enter: 'animated fadeIn',
                                exit: 'animated fadeOut'
                        },
                        offset: {
                            x: 20,
                            y: 85
                        }
                    });
                };
                
                if (!$('.login-content')[0]) {
                    notify('<?php echo "Bienvenido ".$_SESSION["usuario"]; ?>', 'inverse');
                } 
            });
        </script>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','../../www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58067950-1', 'auto');
  ga('send', 'pageview');

</script>
        
</body>
  

</html>
